# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\user\Desktop\C Sistem\Java SE\Java-Sep-2020-master\Java-Sep-2020-master\src\Sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
